# **Importing Data and Libraries**

In [82]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [83]:
from warnings import filterwarnings
filterwarnings(action='ignore')

In [84]:
cols=['ID', 'start_time', 'completion_time', 'email', 'name', 'name_2', 'age', 'gender',
          'occupation', 'education', 'skills', 'device', 'va', 'ease_1', 'response_time_1', 
          'ease_3', 'relevance_3', 'ease_2', 'response_time_2', 'relevance_4', 'response_time_4', 
          'relevance_5', 'response_time_5', 'clarity_7', 'relevance_6', 'response_time_6', 
          'relevance_7', 'response_time_7', 'clarity_8', 'performance', 'recommend', 'response_time_3']

In [85]:
data = pd.read_csv('/content/English - English.csv', names = cols, index_col=False, header = None)

In [86]:
data.head(5)

,ID,start_time,completion_time,email,name,name_2,age,gender,occupation,education,...,response_time_5,clarity_7,relevance_6,response_time_6,relevance_7,response_time_7,clarity_8,performance,recommend,response_time_3
0,ID,Start time,Completion time,Email,Name,Please enter your name.,Please enter your age.,What is your gender?,Occupation,Education,...,Response Time (1. Slow - 5. Fast) [5],Clarity of Voice (1. Not Clear - 5. Clear) [7],Relevance (1. Inaccurate - 5. Accurate ) [6],Response Time (1.Slow - 5.Fast) [6],Relevance (1. Inaccurate - 5. Accurate ) [7],Response Time (1. Slow - 5. Fast) [7],Clarity of Voice (1. Not Clear - 5. Clear) [8],How did you find the overall performance of Â t...,How likely are you to recommend the VA to a fr...,Response Time (1. Slow - 5. Fast) [3]
1,13,9/25/22 22:47:28,9/25/22 22:55:38,ai21mtech14002@iith.ac.in,SAI SUNAMDHA HARINHI MADDULA,MADDULA SAI SUNAMDHA HARINHI,22,Female,Student,Masters,...,5,5,5,5,4,5,5,5,10,5
2,17,9/28/22 16:24:56,9/28/22 16:32:00,ai21mtech14009@iith.ac.in,Varshita Sharma,Varshita Sharma,24,Female,Student,Masters,...,5,5,5,5,5,5,5,5,9,4
3,20,9/28/22 16:57:14,9/28/22 17:17:35,ai21mtech14009@iith.ac.in,Varshita Sharma,Varshita Sharma,24,Female,Student,Masters,...,5,0,1,5,0,0,5,3,6,5
4,21,9/28/22 18:19:18,9/28/22 18:27:27,ai22mtech02006@iith.ac.in,Akshad Shyam,Akshad Shyam,25,Male,Student,Masters,...,5,5,5,4,5,5,5,5,10,4

In [87]:
data=data.iloc[1: , :]
data.head(5)

,ID,start_time,completion_time,email,name,name_2,age,gender,occupation,education,...,response_time_5,clarity_7,relevance_6,response_time_6,relevance_7,response_time_7,clarity_8,performance,recommend,response_time_3
1,13,9/25/22 22:47:28,9/25/22 22:55:38,ai21mtech14002@iith.ac.in,SAI SUNAMDHA HARINHI MADDULA,MADDULA SAI SUNAMDHA HARINHI,22,Female,Student,Masters,...,5,5,5,5,4,5,5,5,10,5
2,17,9/28/22 16:24:56,9/28/22 16:32:00,ai21mtech14009@iith.ac.in,Varshita Sharma,Varshita Sharma,24,Female,Student,Masters,...,5,5,5,5,5,5,5,5,9,4
3,20,9/28/22 16:57:14,9/28/22 17:17:35,ai21mtech14009@iith.ac.in,Varshita Sharma,Varshita Sharma,24,Female,Student,Masters,...,5,0,1,5,0,0,5,3,6,5
4,21,9/28/22 18:19:18,9/28/22 18:27:27,ai22mtech02006@iith.ac.in,Akshad Shyam,Akshad Shyam,25,Male,Student,Masters,...,5,5,5,4,5,5,5,5,10,4
5,22,9/28/22 18:29:12,9/28/22 18:35:45,ai22mtech02006@iith.ac.in,Akshad Shyam,Akshad Shyam,25,Male,Student,Masters,...,5,0,0,5,5,5,5,2,0,5

In [88]:
data.columns

Index(['ID', 'start_time', 'completion_time', 'email', 'name', 'name_2', 'age',
       'gender', 'occupation', 'education', 'skills', 'device', 'va', 'ease_1',
       'response_time_1', 'ease_3', 'relevance_3', 'ease_2', 'response_time_2',
       'relevance_4', 'response_time_4', 'relevance_5', 'response_time_5',
       'clarity_7', 'relevance_6', 'response_time_6', 'relevance_7',
       'response_time_7', 'clarity_8', 'performance', 'recommend',
       'response_time_3'],
      dtype='object')

In [89]:
x=data.drop(['ID','start_time', 'completion_time', 'email', 'name', 'name_2','performance', 'recommend', 
             'response_time_1', 'response_time_2', 'response_time_3', 'response_time_4', 'response_time_5',
             'response_time_6', 'response_time_7'],axis=1)
x.head(5)

,age,gender,occupation,education,skills,device,va,ease_1,ease_3,relevance_3,ease_2,relevance_4,relevance_5,clarity_7,relevance_6,relevance_7,clarity_8
1,22,Female,Student,Masters,5,Mobile Phone,Google Assistant,1,1,4,1,5,5,5,5,4,5
2,24,Female,Student,Masters,5,Mobile Phone,Google Assistant,1,1,5,1,5,5,5,5,5,5
3,24,Female,Student,Masters,5,Laptop/PC,Apple Siri,3,1,5,1,5,5,0,1,0,5
4,25,Male,Student,Masters,5,Mobile Phone,Google Assistant,1,1,4,1,5,5,5,5,5,5
5,25,Male,Student,Masters,5,Laptop/PC,Microsoft Cortana,0,0,0,0,0,5,0,0,5,5

In [90]:
y1=data[['performance']]
y2=data[['recommend']]
print(y1.head(2))
print(y2.head(2))

  performance
1           5
2           5
  recommend
1        10
2         9

# **Data Preprocessing**

In [91]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
x['occupation']=le.fit_transform(x['occupation'])
x['gender']=le.fit_transform(x['gender'])
x['education']=le.fit_transform(x['education'])
x['device']=le.fit_transform(x['device'])
x['va']=le.fit_transform(x['va'])

In [92]:
for i in x.columns:
  x[i]=x[i].astype(int)

In [93]:
y1['performance'] = y1['performance'].astype(int)
y2['recommend'] = y2['recommend'].astype(int)

In [94]:
y1.head()

   performance
1            5
2            5
3            3
4            5
5            2

In [95]:
len(y1)

121

In [96]:
y1['performance'].value_counts()

4    48
3    32
5    24
2    15
1     2
Name: performance, dtype: int64

In [97]:
for i in range(1,len(y1)+1):
  if y1['performance'][i]>3:
    y1['performance'][i]=1
  else:
    y1['performance'][i]=0

y1.head()

   performance
1            1
2            1
3            0
4            1
5            0

# **Training and Testing**

In [106]:
from sklearn.model_selection import train_test_split
xtrain1, xtest1, ytrain1, ytest1 = train_test_split(x, y1, test_size=0.3,stratify=y1,random_state=42)

In [107]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import  accuracy_score

In [108]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression(random_state = 0)
model1.fit(xtrain1, ytrain1)
ypred_1 = model1.predict(xtest1)
y_train_pred=model1.predict(xtrain1)
print("Train Accuracy: ", accuracy_score(y_train_pred,ytrain1))
print("Test Accuracy: ", accuracy_score(ytest1,ypred_1))

Train Accuracy:  0.8809523809523809
Test Accuracy:  0.7297297297297297

In [109]:
from sklearn.neighbors import KNeighborsClassifier
model2 = KNeighborsClassifier(n_neighbors=5)
model2.fit(xtrain1,ytrain1)
y_train_pred=model2.predict(xtrain1)
y_pred2 = model2.predict(xtest1)
print("Train Accuracy:",accuracy_score(y_train_pred,ytrain1))
print("Test Accuracy:",accuracy_score(ytest1,y_pred2))

Train Accuracy: 0.7857142857142857
Test Accuracy: 0.7027027027027027

In [110]:
from sklearn.naive_bayes import GaussianNB
model3 = GaussianNB()
model3.fit(xtrain1,ytrain1)
y_train_pred=model3.predict(xtrain1)
y_pred2 = model3.predict(xtest1)
print("Train Accuracy:",accuracy_score(y_train_pred,ytrain1))
print("Test Accuracy:",accuracy_score(ytest1,y_pred2))

Train Accuracy: 0.8571428571428571
Test Accuracy: 0.7567567567567568

In [111]:
from sklearn.tree import DecisionTreeClassifier
model4 = DecisionTreeClassifier(criterion='entropy',random_state=7)
model4.fit(xtrain1,ytrain1)
y_train_pred=model4.predict(xtrain1)
y_pred2 = model4.predict(xtest1)
print("Train Accuracy:",accuracy_score(y_train_pred,ytrain1))
print("Test Accuracy:",accuracy_score(ytest1,y_pred2))

Train Accuracy: 1.0
Test Accuracy: 0.7297297297297297

In [112]:
from sklearn.svm import SVC
model5 = SVC()
model5.fit(xtrain1, ytrain1)
ypred_1=model5.predict(xtest1)
y_train_pred=model5.predict(xtrain1)
print("Train Accuracy: ", accuracy_score(y_train_pred,ytrain1))
print("Test Accuracy: ", accuracy_score(ytest1,ypred_1))

Train Accuracy:  0.8452380952380952
Test Accuracy:  0.7027027027027027

In [113]:
from sklearn.ensemble import RandomForestClassifier
model6= RandomForestClassifier(n_estimators = 100) 
model6.fit(xtrain1, ytrain1)
ypred_1=model6.predict(xtest1)
y_train_pred=model6.predict(xtrain1)
print("Train Accuracy: ", accuracy_score(y_train_pred,ytrain1))
print("Test Accuracy: ", accuracy_score(ytest1,ypred_1))

Train Accuracy:  1.0
Test Accuracy:  0.7567567567567568